mturk/
.Rproj.user
*.Rproj
.Rhistory
*.nb.html
*.RData
models/node_modules/utils/node_modules
paper/*pdf
packrat/lib*/
*.DS_Store
*.aux
*.log
*.out
*~
paper/genint_cache/
*.json
*.zip
abstracts/
models/results/*
models/figs/
